<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="boolzapp">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="stylesheet" href="./style/style.css">

    <title>boolzApp</title>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="background-container">

        <!-- APP WINDOW -->
        <div id="app" class="">

            <!-- CONTACTS SECTION -->
            <div id="contact-sct" class="">

                <!-- MY PROFILE -->
                <div class="my-profile">
                    <div class="my-info">
                        <div class="profile-img">
                            <img :src="`./img/avatar${myUser.avatar}.jpg`" :alt="myUser.name">
                        </div>
                        <span>{{myUser.name}}</span>
                    </div>
                    <div class="profile-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /MY PROFILE -->

                <div class="notifications">
                    <div class="notification-img">
                        <span>
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>
                    </div>
                    <div class="notification-info">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="search-chat">
                    <div class="magnifier">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" id="chat-search">
                    </div>
                </div>

                <div class="active-chats">

                    <div 
                        v-for="(user, index) in users"
                        class="chat"
                        @click="activeUser = index">
                        <div class="contact-img">
                            <img :src="`./img/avatar${user.avatar}.jpg`" :alt="user.name">
                        </div>
                        <div class="contact-info">
                            <div class="status-info">
                                <h3>{{user.name}}</h3>
                                <p class="last-message">{{users[index].messages[1].message}}</p>
                            </div>
                            <div class="date-last-msg">
                                <p>{{users[index].messages[1].date}}</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /CONTACTS SECTION -->

            <!-- CHAT SECTION -->
            <div id="chat-sct" class="">

                <div class="active-user">
                    <div class="user">
                        <div class="contact-img">
                            <img :src="`./img/avatar${users[activeUser].avatar}.jpg`" :alt="users[activeUser].avatar">
                        </div>
                        <div class="contact-info ">
                            <div class="user-info">
                                <h3>{{users[activeUser].name}}</h3>
                                <p class="last-access">Ultimo accesso oggi alle</p>
                            </div>
                            <div class="user-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="text-area">
                    <div
                        v-for="envelope in users[activeUser].messages"
                        :class="envelope.status"
                        class="message">
                        <div class="text-message">{{envelope.message}}</div>
                        <div class="message-time">{{envelope.date}}</div>
                    </div>
                    
                </div>

                <div class="text-input">
                    <div class="text-emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="input-sct">
                        <input
                            @keyup.enter="newMessageData()" 
                            v-model="newMessage" 
                            type="text" 
                            placeholder="Scrivi un messagio">
                    </div>
                    <div class="audio-record">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
            <!-- /CHAT SECTION -->
        </div>
            <!-- /APP WINDOW -->
    </div>

    <script src="./js/contacts-boolzapp.js"></script>
</body>
</html>