*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
}

/* BACKGROUND */
.background-container{
    display: flex;
    height: 100vh;
    width: 100%;
    background: 
        linear-gradient(to bottom , #249588 20%, #DCDBD1 0%);
}

/* /BACKGROUND */

/* APP WINDOW */
#app {
    display: flex;
    width: 75%;
    min-width: 800px;
    height: 85vh;
    background-color: white;
    border: 1px solid lightgrey;
    margin: auto;
}

#contact-sct{
    width: 35%;
    min-width: 300px;
}

#chat-sct {
    width: 65%;
}

.my-profile,
.active-user {
    height: 80px;
    width: 100%;
}

/* TOP PROFILE */
.my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.my-info{
    display: flex;
    align-items: center;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
}
.profile-img img {
    width: 100%;
    border-radius: 50%;
}

.profile-icons i{
    margin: 0 5px;
    font-size: 22px;
    color: #B1B1B1;
}
/* /TOP PROFILE */

/* NOTIFICATION CTO */
.notifications{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #8ED9FC;
}

.notification-img span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: #fff;   
    border-radius: 50%;
    color: #8ED9FC;
}

.notification-info a{
    color: #4E7486;
}
/* /NOTIFICATION CTO */

/* SEARCH BAR */

.search-chat{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 50px;
    background-color: #EAEAEA;
}

.search-bar{
    width: calc(100% - 40px);

}

.magnifier{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-right: none;
}

#chat-search {
    height: 35px;
    width: 100%;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    border-left: none;
    /* text-transform: capitalize; */
}

/* /SEARCH BAR */

/* ACTIVE CHATS */
.active-chats{
    overflow-y: scroll;
    height: calc(100% - 200px);
}
.chat {
    display: flex;
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid lightgrey;
}

.contact-img{
    width: 50px;
    height: 50px;
}

.contact-img img{
    border-radius: 50%;
    width: 100%;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    padding-left: 10px;
}

.selected {
    background-color: #EAEBEB;
}

.last-message,
.date-last-msg{
    font-size: 13px;
    color: #BBBFC1;
}

.status-info{
    width: 60%;
}

.date-last-msg{
    display: flex;
    justify-content: end;
    width: 40%;
}
/* /ACTIVE CHATS */

/* CHAT SECTION TOP */
.active-user {
    background-color: #EAEAEA;
    border-left: 1px solid lightgrey;
}
.user {
    display: flex;
    padding: 10px;
}

.user-info {
    margin-left: 10px;
}

.user-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 22px;
    color: #B1B1B1;
}

.user-icons i {
    margin: 0 10px;
}

.last-access {
    font-size: 14px;
    margin-top: 10px;
}
/* /CHAT SECTION TOP */

/* TEXT AREA */

.text-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 135px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
    padding: 35px;
    overflow: auto;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
    max-width: 60%;
    min-width: 250px;
    flex-grow: 0;
}

.text-message{
    padding: 10px;
}

.message-time{
    align-self: flex-end;
    padding: 3px;
    font-size: 12px;
    color: #CACCCE;
}

.sent{
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received{
    background-color: #fff;
    align-self: flex-start;
}

.sent,
.received{
    border-radius: 10px;
}
/* /TEXT AREA */

/* CHAT SECTION BOTTOM */
.text-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: #F3EEEA;
    padding: 8px;
}

.text-emoji,
.audio-record{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    font-size: 22px;
    color: #6C7375;
}
.input-sct{
    height: 100%;
    width: calc(100% - 100px);
}

.input-sct input{
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    /* border: 2px solid #037AFF; */

}


/* /CHAT SECTION BOTTOM */
/* /APP WINDOW */